.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store

._*
*/._*
*/*/._*
*/*/*/._*
*/*/*/*/._*
*/*/*/*/*/._*

data
logs
benchmarks
output
plot/large
plot/medium
plot/small
.snakemake